@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-hand: 'Roboto', sans-serif;

$fern-orange: #e88d71;
$fern-light-orange: #e7ac9a;
$fern-green: #25c48a;
$fern-green-2: #01ae66;
$gradient-green: rgba(13,121,9,1);
$golden-green: rgb(177, 231, 177);

html{
    scroll-behavior: smooth;
    
}

body{
    // background gradient
    background: rgb(4,4,8);
    background: linear-gradient(180deg, rgba(4,4,8,1) 10%, rgba(13,121,9,1) 29%, rgba(255,255,255,1) 73%);
    margin: 0;
    padding: 0;
    font-family: $font-hand;

    header{
        width: 100%;
        margin: 0;
        margin-top: 1em;
        background-color: rgba(0, 0, 0, 0);
        // border: 2px solid blue;
        height: 11vh;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 11vh;          
            max-height: 200px;
            max-width: 1400px;
            // border: red 2px solid;
            margin: auto;
            .logo-title{
                margin-top: 1em;
                display: flex;
                justify-content: center;
                width: 40vw;
                align-items: center;
                // border: 3px solid blue;
                .logo{
                    // margin-right: 0em;
                    //logo size
                    $size: 5em;
                    position: relative;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    border: $fern-orange 2px solid;
                }
                a{
                    text-decoration: none;
                    // border: 2px dotted red;
                }
                .logo-hover{
                    transition: .5s;
                    border-radius: 50%;

                }
                .logo-hover:hover{
                    transform: scale(1.07);
                }
                h1{
                    padding: 0;
                    width: 100%;
                    font-size: 2em;
                    font-weight: 400;
                    color: $fern-light-orange;
                    font-family: $font-hand;
                    text-align: center;
                    // border: $fern-orange 2px solid;

                }
                .title-hover{
                    width: 50%;
                }
            }// X LOGO-TITLE X
            nav{
                width: 40vw;
                ul{
                    padding: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    // border: 3px dashed gold;
                    li{
                        list-style-type: none;
                        font-size: 1.5em;
                        font-family: $font-hand;
                        font-weight: 200;
                        a{
                            text-decoration: none;
                            color: white;
                            transition: .2s;
                        }
                        A:hover{
                            color: $golden-green;

                        }
                    }
                }
            }
        } // X .HEADER X
    } // X HEADER X

    // MAIN CONTENT
    main{
        margin: 0;
        padding: 0;
        min-height: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid blue;

        .container{
            max-width: 1300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .landing-page{
                margin-top: 3em;
                margin-bottom: 0em;
                // border: 2px solid blue;
                padding: 0;
                height: 70vh;
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                font-family: $font-hand;
                color: white;
                .landing-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    // border: 2px solid red;
                    text-align: center;
                    h1{
                        font-size: 5em;
                        text-shadow: 2px 2px 4px #000000;
                    }
                    h2{
                        font-size: 1.3em;
                        text-shadow: 1px 1px 4px #000000;
        
                    }
                }// X LANDING TEXT X
                .standing{
                        height: 70vh;
                        max-width: 30vw;
                        // border: 2px solid brown;
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        img{
                            $height: 45vw;
                            height: $height;
                            width: 22.5vw;
                            max-width: 300px;
                            max-height: 600px;
                            // border: 2px solid brown;
                        }
                            .a-stand{
                                transform: scale(.9);
                                transform: scalex(.95)
                                scaleY(.95);
                            }
                        
                }
                
            }// X LANDING PAGE X
            section{
                margin-bottom: 3em;
                margin: 3em 0;
                .section-title{
                    font-family: $font-hand;
                    font-size: 2.3em;
                    text-shadow: 1px 1px 2px #003d1ca6;
                }
            }
            .links{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 3em;
               
                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    transform: scale(2.5);
                    transition: .2s;
                }
                a:hover{
                    color: $fern-orange;
                }
            }// X LINKS X
            .watch{
                border-top: 1px solid $fern-orange;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    font-family: $font-hand;
                    font-size: 2.3em;
                    text-shadow: 1px 1px 2px #003d1ca6;
                    font-weight: 800;
                    // text-decoration: underline;

                }
            }//X WATCH X
            .about{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 2em;
                // background-color: black;
                // width: 100vw;
                h1{
                    font-weight: 800;
                    margin-bottom: -.3em;
                    color: $golden-green;
                    -webkit-text-stroke: 1px black;
                    font-size: 3em;
                    text-decoration: underline black;
                }
                article:nth-child(2){
                    // background-color: $fern-orange;
                    border-radius: 25px 25px 0px 0px;
                }
                article:nth-child(3){
                    // background-color: $fern-light-orange;
                    border-radius: 0px 0px 25px 25px;
                }
                article{
                    display: flex;
                    // border: 5px dashed brown;
                    justify-content: center;
                    align-items: center;
                    padding: 0 3em;
                    
                    .abouts{
                        padding: none;
                        // border: dashed 2px red;
                        .name{
                            display: flex;
                            // border: 2px solid slateblue;
                            align-items: center;
                            padding: 0;
                            margin: 0;
                            a{
                                text-decoration: none;
                                color: black;
                                margin: 0 1em;
                                transform: scale(1.5);
                                transition: .2s;
                                font-weight: 500;
                            }
                            .fa-instagram{
                                font-weight: 600;
                            }
                            a:hover{
                                color: $gradient-green;
                            }
                            h2{
                                
                                margin: 0;
                                margin-right: .5em;
                                // border: red 2px solid;
                                font-size: 2.5em;
                                align-self: flex-end;
                                font-weight: 500;
                            }
                        }
                    }
                    p{
                        font-size: 1.5em;
                        margin-bottom: -.1em;

                        font-weight: 300;
                    }
                    ul{
                        display: flex;
                        align-items: flex-start;
                        // border: dashed 2px red;
                        text-align: start;
                        padding: 0;
                        li{
                            list-style-type: none;
                            font-size: 1.5em;
                            margin-right: .5em;

                        }
                        li:nth-child(1){
                            font-weight: 700;
                        }
                    }
                    img{
                        width:50%;
                        border-radius: 30%;
                        transform: scale(.7);
                        // border: 6px solid black;

                    }
                    .a-bio{
                        transform: scale(.6);
                                        }
                }
            }
        }// X CONTAINER X 
        .contact{
            background-color: black;
            color: white;
            // border: 2px solid blue;
            width: 100%;
            display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2em 0 3em 0;
                border-bottom: white 1px solid;
            .container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                max-width: 1200px;
                p{
                    padding: 0 5em;
                    font-size: 1.5em;
                    font-weight: 200;
                    span{
                        font-weight: 400;
                    }
                }
                h1, h2{
                    padding: 0 5em 0 2.5em;
                }
            }

        }//X CONTACT X
    } // X MAIN X
    footer{
        // background-color: $gradient-green;
        background-color: black;
        margin: 0;
        margin-top: 0em;
        margin-bottom: 0;
        border: 2px solid black;

        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: rgb(177, 231, 177);
                    font-weight: 500;
                    font-size: 1.2em;
                    transition: .2s;
                }
                a:hover{
                    color: #e7ac9a
                }
            }
        };
    } // X FOOTER X
} // X BODY X