@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-hand: 'Roboto', sans-serif;

$fern-orange: #e88d71;
$fern-light-orange: #e7ac9a;
$fern-green: #25c48a;
$fern-green-2: #01ae66;
$gradient-green: rgba(13,121,9,1);
$golden-green: rgb(177, 231, 177);

html{
    scroll-behavior: smooth;
    
}

.curated-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    img {
        width: 300px;
        border-radius: 15px;
    }
    .shop-item {
        p{
            margin: 0;
        }
        h2{
            margin-bottom: 0;
        }
        a{
            color: black;
        }
    }
}

.subscriberCount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 9em;
    height: 2em;
    border: 1px solid gray;
    // background-color: $fern-orange;
    background-color: red;
    border-radius: 25px;

 }

.Subscribe {
    text-decoration: none;
    color: white;
    background-color: $fern-orange;
    min-height: 3em;
    line-height: 3em;
    font-weight: 900;
    width: 8em;
    text-align: center;
    border-radius: 30px;
    transition: all .5s;
    // margin-top: -3em;
    margin-bottom: 2em;

}

.Subscribe:hover {
    text-decoration: none;
    color: white;
    background-color: red;
    min-height: 3em;
    line-height: 3em;
    font-weight: 900;
    width: 7em;
    text-align: center;
    transition: all .5s;
}

.youtube{
    margin-top: 1em;
    margin-bottom: 2em;
    iframe{
    width: 80vw;
    height: 45vw;
    max-width: 1000px;
    max-height: 563px;
    border-radius: 5px 5px 5px 5px;
    border: #e7ac9a 10px solid;
    }
}


@media only screen and (min-width: 800px){
    
    .curated-shop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        img {
            width: 300px;
        }
    }
    body{
        // background gradient
        background: rgb(4,4,8);
        background: linear-gradient(180deg, rgba(13,121,9,1) 50vh, rgba(255,255,255,1) 150vh);
        margin: 0;
        padding: 0;
        font-family: $font-hand;
        .logo-hover{
            position: sticky;
            text-decoration: none;
            // border: 2px dotted red;
            transition: .5s;
            border-radius: 50%;
            z-index: 10;
            .logo{
                // margin-right: 0em;
                //logo size
                $size: 5em;
                position: sticky;
                width: $size;
                height: $size;
                border-radius: 50%;
                border: $fern-orange 2px solid;
                top: 1em;
                left: 1em;
                transition: .3s;
            }
        }
        .logo-hover:hover{
            transform: scale(1.5);
        }
        .logo:hover{
            transform: scale(1.1);
    
        }
    
        header{
            width: 100%;
            margin: 0;
            margin-top: -4em;
            margin-bottom: 1em;
            background-color: rgba(0, 0, 0, 0);
            // border: 2px solid purple;
            height: 11vh;
            z-index: 4;
            .header{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 15vh;          
                max-height: 200px;
                max-width: 900px;
                // border: red 2px solid;
                margin: auto;
                margin-top: 0;
                .line-1{
                    // border: 2px solid blue;
                    // height: 10vh;
                    a{
                        text-decoration: none;
                        color: $gradient-green;
                        font-size: 3em;
                        font-weight: 600;
                        -webkit-text-stroke: 2px rgb(255, 249, 249);
                        margin-left: -.2em;
                        paint-order: stroke fill;
                        // border: 2px solid blue;
                        // height: 5vh;
                    }
                    
                }
                .line-2{
                    display: flex;
                    align-items: center;
                    nav{
                        width: 70vw;
                        ul{
                            padding: 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-evenly;
                            // border: 3px dashed gold;
                            li{
                                list-style-type: none;
                                font-size: 1.5em;
                                font-family: $font-hand;
                                font-weight: 200;
                                a{
                                    text-decoration: none;
                                    color: white;
                                    transition: .2s;
                                }
                                a:hover{
                                    color: $fern-orange;
        
                                }
                            }
                        }   // X UL X
                    } // X NAV X
                } // X LINE 2 X
            } // X .HEADER X
        } // X HEADER X
    
        // MAIN CONTENT
        main{
            margin: 0;
            margin-top: 3em;
            padding: 0px;
            // min-height: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 2px solid red;
            z-index: -1;
    
            .container{
                max-width: 1300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 2px solid green;

                .landing-page{
                    margin-top: 2em;
                    margin-bottom: 10em;
                    // border: 2px solid blue;
                    padding: 0;
                    // height: 40vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    font-family: $font-hand;
                    color: white;
                    // padding-top: -30em;

                    .landing-text{
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        // border: 2px solid red;
                        margin-bottom: -1em;
                        img{
                            // border: 2px solid black;
                            margin: 0 1em;
                            width: 15rem;
                            width: clamp(15rem, 13.6rem + 7.000000000000001vw, 22rem);
                        }
                        h1{
                            margin-top: .3em;
                            margin-right: .5em;
                            font-size: 2.5rem;
                            font-size: clamp(2.5rem, 1.9rem + 3vw, 5.5rem);
                            text-shadow: 2px 2px 4px #000000;
                            line-height: 1.3em;
                            font-weight: 900;
                            text-align: end;
                            width: 40%;
                            transform: scaley(1.2);
                            paint-order: stroke fill;
                        }
            
                        .side{
                            width: 45%;
                            line-height: 2em;
                            // border: 2px solid red;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            transform: translateX(3em);
                            h2{
                                width: 60%;
                                font-size: 1.7em;
                                margin-bottom: -.3em;
                            }
                            p{
                                width: 80%;
                                font-size: 1.3em;
                                font-weight: 400;
                                color: black;
                            }
                        }
                    }// X LANDING TEXT X
                    
                    h3{
                        font-style: italic;
                    }
                }// X LANDING PAGE X
                section{
                    margin-bottom: 3em;
                    margin: 3em 0;
                    .section-title{
                        font-family: $font-hand;
                        font-size: 2.3em;
                        text-shadow: 1px 1px 2px #003d1ca6;
                        paint-order: stroke fill;
                    }
        
                }
                .links{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 3em;
                   
                    a{
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        transform: scale(2.5);
                        transition: .2s;
                    }
                    a:hover{
                        color: $fern-orange;
                    }
                }// X LINKS X
               
                .about{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 2em;
                    // margin-top: 20em;
                    // background-color: black;
                    // width: 100vw;
                    #watch {
                        font-weight: 800;
                        color: $golden-green;
                        -webkit-text-stroke: 2px black;
                        font-size: 3.5em;
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
                        paint-order: stroke fill;
                    }
                    
                    h1{
                        margin-bottom: -.3em;
                        font-weight: 800;
                        color: $golden-green;
                        -webkit-text-stroke: 2px black;
                        font-size: 3.5em;
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
                        // text-decoration: underline black;
                        paint-order: stroke fill;
                    }
                

                    article:nth-child(2){
                        // background-color: $fern-orange;
                        border-radius: 25px 25px 0px 0px;
                    }
                    article:nth-child(3){
                        // background-color: $fern-light-orange;
                        border-radius: 0px 0px 25px 25px;
                    }
                    article{
                        display: flex;
                        // border: 5px dashed brown;
                        justify-content: center;
                        align-items: center;
                        padding: 0 3em;
                        
                        .abouts{
                            padding: none;
                            // border: dashed 2px red;
                            .name{
                                display: flex;
                                // border: 2px solid slateblue;
                                align-items: center;
                                padding: 0;
                                margin: 0;
                                a{
                                    text-decoration: none;
                                    color: black;
                                    margin: 0 1em;
                                    transform: scale(1.5);
                                    transition: .2s;
                                    font-weight: 500;
                                }
                                .fa-instagram{
                                    font-weight: 600;
                                }
                                a:hover{
                                    color: $gradient-green;
                                }
                                h2{
                                    
                                    margin: 0;
                                    margin-right: .5em;
                                    // border: red 2px solid;
                                    font-size: 2.5em;
                                    align-self: flex-end;
                                    font-weight: 500;
                                }
                            }
                        }
                        p{
                            font-size: 1.5em;
                            margin-bottom: -.1em;
    
                            font-weight: 300;
                        }
                        ul{
                            display: flex;
                            align-items: flex-start;
                            // border: dashed 2px red;
                            text-align: start;
                            padding: 0;
                            li{
                                list-style-type: none;
                                font-size: 1.5em;
                                margin-right: .5em;
    
                            }
                            li:nth-child(1){
                                font-weight: 700;
                            }
                        }
                        img{
                            width:50%;
                            border-radius: 90px;
                            transform: scale(.7);
                            // border: 6px solid black;
    
                        }
                        .a-bio{
                            transform: scale(.6);
                            padding: -5em;
                            margin: -24em 0 -20em 0;
                            max-height: 70vw;
                        }
                        .l-bio{
                            width: 50vw;
                            transform: scale(1);
                            padding: -5em -5em;
                            margin-right: -10em;
                            z-index: -1;

                         }
                        
                        
                }
                              
            }
            }// X CONTAINER X 
            .contact{
                background-color: black;
                color: white;
                // border: 2px solid blue;
                width: 100%;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 2em 0 3em 0;
                    border-bottom: white 1px solid;
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    max-width: 1200px;
                    p{
                        padding: 0 5em;
                        font-size: 1.5em;
                        font-weight: 200;
                        span{
                            font-weight: 400;
                        }
                    }
                    h1, h2{
                        padding: 0 5em 0 2.5em;
                    }
                }
    
            }//X CONTACT X
        } // X MAIN X
        footer{
            // background-color: $gradient-green;
            background-color: black;
            margin: 0;
            margin-top: 0em;
            margin-bottom: 0;
            border: 2px solid black;
    
            ul{
                display: flex;
                justify-content: space-evenly;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: rgb(177, 231, 177);
                        font-weight: 500;
                        font-size: 1.2em;
                        transition: .2s;
                    }
                    a:hover{
                        color: #e7ac9a
                    }
                }
            };
        } // X FOOTER X
    } // X BODY X X
}










//RESPONSIVE STYLES

@media only screen and (max-width: 800px){

    .curated-shop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        img {
            width: 300px;
        }
    }
    .Subscribe {
    text-decoration: none;
    color: white;
    background-color: $fern-orange;
    min-height: 3em;
    line-height: 3em;
    font-weight: 900;
    width: 8em;
    text-align: center;
    border-radius: 30px;
    transition: all .5s;
    margin-top: 2em;
    margin-bottom: 1em;

}
   body{
        // background gradient
        background: rgb(4,4,8);
        background: linear-gradient(180deg, rgba(13,121,9,1) 50vh, rgba(255,255,255,1) 150vh);
        margin: 0;
        padding: 0;
        font-family: $font-hand;
        .logo-hover{
            position: sticky;
            text-decoration: none;
            // border: 2px dotted red;
            transition: .5s;
            border-radius: 50%;
            z-index: 10;
            .logo{
                // margin-right: 0em;
                //logo size
                $size: 4em;
                position: sticky;
                width: $size;
                height: $size;
                border-radius: 50%;
                border: $fern-orange 2px solid;
                top: .5em;
                left: 90%;
                transition: .3s;
            }
        }
        .logo-hover:hover{
            transform: scale(1.5);
        }
        .logo:hover{
            transform: scale(1.1);
    
        }
    
        header{
            z-index: 5;
            width: 100%;
            margin: 0;
            margin-top: -4em;
            background-color: rgba(0, 0, 0, 0);
            // border: 2px solid blue;
            height: 11vh;
            // display: flex;
            .header{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 15vh;          
                max-height: 200px;
                max-width: 900px;
                // border: red 2px solid;
                margin: auto;
                margin-top: 0;
                .line-1{
                    .title-hover{
                        color: white;
                        text-decoration: none; 
                        color: white; 
                        font-size: 3em;
                        font-weight: 600;
                        -webkit-text-stroke: 1px rgb(255, 249, 249); 
                        margin-left: .1em;
                        paint-order: stroke fill;
                    }
                    
                }
                .line-2{
                    display: flex;
                    align-items: center;
                    nav{
                        width: 70vw;
                        ul{
                            padding: 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-evenly;
                            // border: 3px dashed gold;
                            li{
                                list-style-type: none;
                                font-size: 1.5em;
                                font-family: $font-hand;
                                font-weight: 200;
                                a{
                                    text-decoration: none;
                                    color: white;
                                    transition: .2s;
                                }
                                a:hover{
                                    color: $fern-orange;
        
                                }
                            }
                        }   // X UL X
                    } // X NAV X
                } // X LINE 2 X
            } // X .HEADER X
        } // X HEADER X
    
        // MAIN CONTENT
        main{
            margin: 0;
            margin-top: 1.5em;
            padding: 0;
            min-height: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 2px solid blue;
            // z-index: -8;
            .container{
                max-width: 1300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .landing-page{
                    z-index: 0;
                    margin-top: 0em;
                    margin-bottom: 10em;
                    // border: 2px solid red;
                    padding: 0;
                    // height: 40vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    font-family: $font-hand;
                    color: white;
                    margin: 0;
                    .landing-text{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        // border: 2px solid red;
                        margin-bottom: -1em;
                        z-index: 0;
                        // border: 2px solid yellow;
                        img{
                            // border: 2px solid black;
                            width: 15rem;
                            width: clamp(15rem, 13.6rem + 7.000000000000001vw, 22rem);
                            order: 3;
                            //  border: 2px solid red;

                        }
                        
                        .side{
                            margin-left: -6em;
                            order: 2;
                            width: 85%;
                            line-height: 2em;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: translateX(3em);
                            text-align: center;
                            //  border: 2px solid red;

                            h2{
                                width: 60%;
                                font-size: 1.7em;
                                margin-bottom: -.3em;
                            }
                            p{
                                // width: 80%;
                                font-size: 1.3em;
                                font-weight: 400;
                                color: black;
                            }
                        }
                        #two-title{
                            visibility: hidden;
                            position: absolute;
                        }

                    }// X LANDING TEXT X
                    .youtube{
                        margin-top: 1em;
                        margin-bottom: 2em;
                        // border: rgb(64, 143, 218) 8px solid;
                        border-radius: 5px 5px 5px 5px;
                        z-index: 0;

                        iframe{
                        width: 400px;
                        height: 400px*.56;
                        border-radius: 5px 5px 5px 5px;
                        border: #e7ac9a 10px solid;
                        }
                    }
                    h3{
                        font-style: italic;
                        // border: #e7ac9a 10px solid;

                    }
                    .links{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        margin-bottom: 3em;
                        z-index: 15;
                        // height: 5vh;
                        
                        a{
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            transform: scale(2.5);
                            transition: .2s;
                            z-index: 15;
                            padding: 1em;
                        }
                        a:hover{
                            color: $fern-orange;
                            z-index: 20;
                        }
                    }// X LINKS X
                }// X LANDING PAGE X
                section{
                    margin-bottom: 3em;
                    margin: 3em 0;
                    .section-title{
                        font-family: $font-hand;
                        font-size: 2.3em;
                        text-shadow: 1px 1px 2px #003d1ca6;
                    }
                    
                }      
                 #watch {
                    font-family: $font-hand;
                    font-size: 2.3em;
                    text-shadow: 1px 1px 2px #003d1ca6;
                    }        
                .about{
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 2em;
                    #watch {
                        font-weight: 800;
                        color: $golden-green;
                        -webkit-text-stroke: 1px black;
                        font-size: 3.5em;
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
                        text-align: center;
                    }
                    h1{
                        font-weight: 800;
                        color: $golden-green;
                        -webkit-text-stroke: 1px black;
                        font-size: 3.5em;
                        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
                        // text-decoration: underline black;
                        paint-order: stroke fill;
                    }
                    
                    article:nth-child(2){
                        // background-color: $fern-orange;
                        border-radius: 25px 25px 0px 0px;
                    }
                    article:nth-child(3){
                        // background-color: $fern-light-orange;
                        border-radius: 0px 0px 25px 25px;
                    }
                    article{
                        display: flex;
                        flex-direction: column;
                        // border: 5px dashed brown;
                        justify-content: center;
                        align-items: center;
                        padding: 0 3em;
                        
                        .abouts{
                            padding: none;
                            // border: dashed 2px red;
                            .name{
                                display: flex;
                                // border: 2px solid slateblue;
                                align-items: center;
                                padding: 0;
                                margin: 0;
                                a{
                                    text-decoration: none;
                                    color: black;
                                    margin: 0 1em;
                                    transform: scale(1.5);
                                    transition: .2s;
                                    font-weight: 500;
                                }
                                .fa-instagram{
                                    font-weight: 600;
                                }
                                a:hover{
                                    color: $gradient-green;
                                }
                                h2{
                                    
                                    margin: 0;
                                    margin-right: .5em;
                                    // border: red 2px solid;
                                    font-size: 2.5em;
                                    align-self: flex-end;
                                    font-weight: 500;
                                }
                            }
                        }
                        p{
                            font-size: 1.5em;
                            margin-bottom: -.1em;
    
                            font-weight: 300;
                        }
                        ul{
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            // border: dashed 2px red;
                            text-align: start;
                            padding: 0;
                            width: 90vw;
                            li{
                                list-style-type: none;
                                font-size: 1em;
                                margin-top: 1em;
                                margin-right: .5em;
    
                            }
                            li:nth-child(1){
                                font-weight: 700;
                            }
                        }
                        img{
                            width:50%;
                            border-radius: 300px;
                            transform: scale(.7);
                            // border: 6px solid black;
    
                        }
                        .about-aaron{
                            order: 1;
                        }
                        .a-bio{
                            padding: 5em 0;
                            order: 2;
                            transform: scale(1.5);
                            margin-bottom: 2em;
                         }
                         .l-bio{
                            width: 50vw;
                            transform: scale(3);
                            padding: 5em 0em;
                            margin-bottom: 1em;
                            z-index: -1;

                         }
                    }
                }
            }// X CONTAINER X 
            .contact{
                background-color: black;
                color: white;
                // border: 2px solid blue;
                width: 100%;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 2em 0 3em 0;
                    border-bottom: white 1px solid;
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    max-width: 1200px;
                    p{
                        padding: 0 5em;
                        font-size: 1.5em;
                        font-weight: 200;
                        span{
                            font-weight: 400;
                        }
                    }
                    h1, h2{
                        padding: 0 5em 0 2.5em;
                    }
                }
    
            }//X CONTACT X
        } // X MAIN X
        footer{
            // background-color: $gradient-green;
            background-color: black;
            margin: 0;
            margin-top: 0em;
            margin-bottom: 0;
            border: 2px solid black;
    
            ul{
                display: flex;
                justify-content: space-evenly;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: rgb(177, 231, 177);
                        font-weight: 500;
                        font-size: 1.2em;
                        transition: .2s;
                    }
                    a:hover{
                        color: #e7ac9a
                    }
                }
            }
        } // X FOOTER X
    } // X BODY X
}










//MOBILE STYLES
@media only screen and (max-width: 500px){
    html{
        max-width: 100vw;
        // overflow-x: hidden;
        // overflow-x: clip !important;
        margin: 0;
         padding: 0;
        //  max-width: 100vw !important;

    }

    .curated-shop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        img {
            width: 300px;
        }
     }

    img {
        display: block;
    }
    body{
        // max-width: 100vw !important;
        // background gradient
         background: rgb(4,4,8);
         background: linear-gradient(180deg, rgba(13,121,9,1) 50vh, rgba(255,255,255,1) 150vh);
         margin: 0;
         padding: 0;
         font-family: $font-hand;
         overflow-x: hidden;
         //  max-width: 99vw;
         .logo-hover{
             position: sticky;
             text-decoration: none;
            //  border: 2px dotted red;
             transition: .5s;
             border-radius: 50%;
             z-index: 10;
             .logo{
                 // margin-right: 0em;
                 //logo size
                 $size: 4em;
                 position: sticky;
                 width: $size;
                 height: $size;
                 border-radius: 50%;
                 border: $fern-orange 2px solid;
                 top: 4em;
                 left: 82%;
                //  left: 1em;
                 transition: .3s;
                 
             }
         }
         
         .logo:hover{
             transform: scale(1.1);
     
         }
     
         header{
             z-index: 5;
             width: 100%;
             margin: 0;
             margin-top: -4em;
             background-color: rgba(0, 0, 0, 0);
             // border: 2px solid blue;
             height: 11vh;
            //  overflow-x: hidden;
            //  overflow-y: visible;
             // display: flex;
             .header{
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: space-between;
                 height: 15vh;          
                 max-height: 200px;
                 max-width: 500px;
                 // border: red 2px solid;
                 margin: auto;
                 margin-top: 0;
                 .line-1{
                     // border: 2px solid blue;
                     // height: 10vh;
                     a{
                         text-decoration: none;
                         color: $gradient-green;
                         font-size: 3em;
                         font-weight: 600;
                         -webkit-text-stroke: 1px rgb(255, 249, 249);
                         margin-left: -.2em;
                         // border: 2px solid blue;
                         // height: 5vh;
                     }
                 }
                 .line-2{
                     display: flex;
                     align-items: center;
                     nav{
                         width: 70vw;
                         ul{
                             padding: 0;
                             width: 100%;
                             display: flex;
                             justify-content: space-evenly;
                             // border: 3px dashed gold;
                             li{
                                 list-style-type: none;
                                 font-size: 1.5em;
                                 font-family: $font-hand;
                                 font-weight: 200;
                                 a{
                                     text-decoration: none;
                                     color: white;
                                     transition: .2s;
                                 }
                                 a:hover{
                                     color: $fern-orange;
         
                                 }
                             }
                         }   // X UL X
                     } // X NAV X
                 } // X LINE 2 X
             } // X .HEADER X
         } // X HEADER X
         .curated-shop {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 1rem;
         }
         // MAIN CONTENT
         main{
             margin: 0;
             margin-top: 1.5em;
             padding: 0;
             min-height: 80vw;
             display: flex;
             flex-direction: column;
             align-items: center;
             overflow-x: hidden;

             // border: 2px solid blue;
             // z-index: -8;
             
             .container{
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                //  overflow-x: hidden;
                overflow-y: hidden;
                 .landing-page{
                    // max-width: 100vw;
                     z-index: 0;
                     margin-top: 0em;
                     margin-bottom: 10em;
                     // border: 2px solid red;
                     padding: 0;
                     width: 90%;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: flex-start;
                     font-family: $font-hand;
                     color: white;
                     margin: 0;
                     .landing-text{
                         width: 100%;
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: flex-start;
                         // border: 2px solid red;
                         margin-bottom: -1em;
                         z-index: 0;
                        
                         h1{
                             margin: .5em 0;
                             margin-top: 1em;
                             order: 1;
                             font-size: 3.5rem;
                             
                             text-shadow: 2px 2px 4px #000000;
                             line-height: 1.3em;
                             font-weight: 900;
                             text-align: center;
                             width: 80%;
                             transform: scaley(1.2);
                             //  border: 2px solid red;
                         }
                         
                         .side{
                             order: 2;
                             width: 85%;
                             line-height: 2em;
                             display: flex;
                             flex-direction: column;
                             align-items: center;
                             text-align: center;
                             //  border: 2px solid red;
 
                             h2{
                                 width: 90%;
                                 font-size: 1.7em;
                                 margin-bottom: -.3em;
                             }
                             p{
                                 // width: 80%;
                                 font-size: 1.3em;
                                 font-weight: 400;
                                 color: black;
                             }
                         }
                     }// X LANDING TEXT X
                     .youtube{
                         margin-top: 1em;
                         margin-bottom: 2em;
                         // border: rgb(64, 143, 218) 8px solid;
                         border-radius: 5px 5px 5px 5px;
                         z-index: 0;
 
                         iframe{
                         width: 350px;
                         height: 350px*.56;
                         border-radius: 5px 5px 5px 5px;
                         border: #e7ac9a 10px solid;
                         }
                     }
                     
                     h3{
                         font-style: italic;
                         // border: #e7ac9a 10px solid;
                         width: 90%;
                         text-align: center;
 
                     }
                     .links{
                         width: 90%;
                         display: flex;
                         justify-content: space-evenly;
                         margin-bottom: 3em;
                         z-index: 15;
                         // height: 5vh;
                         
                         a{
                             text-decoration: none;
                             color: rgb(0, 0, 0);
                             transition: .2s;
                             z-index: 15;
                         }
                         a:hover{
                             color: $fern-orange;
                             z-index: 20;
                         }
                     }// X LINKS X
                 }// X LANDING PAGE X
                 section{
                     margin-bottom: 3em;
                     margin: 3em 0;
                     .section-title{
                         font-family: $font-hand;
                         font-size: 2.3em;
                         text-shadow: 1px 1px 2px #003d1ca6;
                     }
                     
                 }         
                 #line{
                    width: 100vw;
                    // height: 10px;
                    // background-color: black;
                    border-bottom: 1px solid black;
                    margin-bottom: 1em;
                }     
                 .about{
                //    overflow-y: hidden;
                     max-width: 100%;
                    overflow: hidden;
                     margin: 0;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     z-index: inherit;
                     
                     h1{
                         font-weight: 800;
                         color: $golden-green;
                         -webkit-text-stroke: 1px black;
                         font-size: 3.5em;
                         text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.493);
                         z-index: 2;
                         paint-order: stroke fill;
                     }
                     
                     article:nth-child(2){
                         border-radius: 25px 25px 0px 0px;
                     }
                     article:nth-child(3){
                         border-radius: 0px 0px 25px 25px;
                     }
                     article{
                         display: flex;
                         flex-direction: column;
                        //  border: 5px dashed brown;
                         justify-content: center;
                         align-items: center;
                         max-width: 60vw;
                        .aaron{
                            z-index: -2;
                            overflow-y: hidden;
                        }
                        .lucas{
                            z-index: 2;
                        }
                         .abouts{
                             padding: none;
                            //  border: dashed 2px red;
                            
                             .name{
                                 display: flex;
                                //  border: 2px solid slateblue;
                                 align-items: center;
                                 padding: 0;
                                 margin: 0;
                                 
                                 a{
                                     text-decoration: none;
                                     color: black;
                                     transition: .2s;
                                     font-weight: 500;
                                     
                                 }
                                 .fa-instagram{
                                     font-weight: 600;
                                 }
                                 a:hover{
                                     color: $gradient-green;
                                 }
                                 h2{
                                     
                                     margin: 0;
                                     // border: red 2px solid;
                                     font-size: 2.5em;
                                     align-self: flex-end;
                                     font-weight: 500;
                                     
                                 }
                             }
                         }
                         p{
                             font-size: 1.5em;
                             margin-bottom: -.1em;
                            //  border: #e7ac9a 3px solid;
     
                             font-weight: 300;
                         }
                         ul{
                             align-self: flex-start;
                             justify-self: flex-start;
                             display: flex;
                             align-items: flex-start;
                             justify-content: center;
                             // border: dashed 2px red;
                             text-align: start;
                             padding: 0;
                            //  border: #e7ac9a 3px solid;
                             li{
                                 list-style-type: none;
                                 font-size: .9em;
                                 margin-top: 1em;
     
                             }
                             li:nth-child(1){
                                 font-weight: 700;
                             }
                         }
                         .about-aaron{
                             order: 1;
                             z-index: -2;
                         }
                         .a-bio{
                            z-index: -1;
                             padding: 5em 0;
                             order: 2;
                             transform: scale(2);
                             margin-bottom: 10em;
                             max-height: 600px;
                            //  border: #e7ac9a 3px solid;

                          }
                        .l-bio{
                             margin: none;
                             margin-bottom: -1em;
                             z-index: -1;
                            //  border: #e7ac9a 3px solid;
                            width: 100px;
                          }
                     }
                 }
             }// X CONTAINER X 
             .contact{
                 z-index: 3;
                 background-color: black;
                 color: white;
                //  border: 2px solid blue;
                 width: 100vw;
                 display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: center;
                    //  padding: 2em 0 3em 0;
                     border-bottom: white 1px solid;
                     
                 .container{
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: center;
                     max-width: 100vw;

                     p{
                         padding: 0 1.5em;
                         font-size: 1.5em;
                         font-weight: 200;
                         span{
                             font-weight: 400;
                         }
                     }
                     h1, h2{
                         padding: 0 5em 0 2.5em;
                     }
                 }
     
             }//X CONTACT X
         } // X MAIN X
         footer{
             // background-color: $gradient-green;
             background-color: black;
             margin: 0;
             margin-top: 0em;
             margin-bottom: 0;
             border: 2px solid black;
             width: 99vw;
     
             ul{
                 padding: 0;
                 display: flex;
                 justify-content: space-evenly;
                 li{
                     list-style-type: none;
                     a{
                         text-decoration: none;
                         color: rgb(177, 231, 177);
                         font-weight: 500;
                         font-size: 1.2em;
                         transition: .2s;
                     }
                     a:hover{
                         color: #e7ac9a
                     }
                 }
             } // X UL X
         } // X FOOTER X
     } // X BODY X
 } //X MOBILE STYLES X

 